/* -- Variables CSS -- */
:root {
  /* -- Colors -- */
  --var-color: #dba423;
  --bg-color: #232324;
  --con-color: #343539;
  --f-color: #fff;
  --c-color: #cbccce;
  --t-color: #535455;

  /* -- WeightFonts */
  --head-weight: 500;

  /* -- Line Height */
  --line-h: 1.6;

  /* Border Radius */
  --bor-rad: 20px;



  /* Font Size */
  /* --body-font: 'Poppins', sans-serif; */
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
}
@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  line-height: var(--line-h);
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
/* -- Classes -- */
.container {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 575px) {
  .container {
    width: calc(100% - 25px);
  }
}
@media (min-width: 576px) {
  .container {
    width: calc(100% - 50px);
  }
}
@media (min-width: 768px) {
  .container {
    width: calc(100% - 70px);
  }
}
@media (min-width: 992px) {
  .container {
    width: calc(100% - 90px);
  }
}
@media (min-width: 1200px) {
  .container {
    width: calc(100% - 110px);
  }
}
@media (min-width: 1400px) {
  .container {
    width: calc(100% - 140px);
  }
}

.title {
  font-size: 25px;
  color: var(--var-color);
  margin: 15px 0 30px;
  position: relative;
  font-weight: var(--head-weight);
}
.title::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 60px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--var-color);
}
.title::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 1px;
  border-radius: 5px;
  background: linear-gradient(to right, #dba423, #343539)
}

/* -- Content -- */
.content {
  width: 100%;
  /* Review */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  /* background-color: violet; */
}
/* -- Content Container-- */
.content .container {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
  height: 80vh;
  /* overflow-y: scroll; */
}
@media (max-width: 991.99px) {
  .content .container {
    height: 95vh;
    /* border: 1px solid red; */
  }
}
/* -- Toggle -- */
.content .toggle-side {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--t-color);
  cursor: pointer;
  z-index: 20;
}

.content .toggle-side span {
  display: block;
  width: 25px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--var-color);
  transition: 0.5s;
  border-radius: 5px;
}
.content .toggle-side span:nth-child(1) {
  transform: translate(-50%, calc(-50% - 7px));
}
.content .toggle-side span:nth-child(3) {
  transform: translate(-50%, calc(-50% + 7px));
}
.content .toggle-side.toggle-open span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.content .toggle-side.toggle-open span:nth-child(2) {
  opacity: 0;
  transform: translate(0, -50%);
}
.content .toggle-side.toggle-open span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (min-width: 992px) {
  .content .container .toggle-side {
    display: none;
  }
}
/* -- Left Side-- */
.content .left-side {
  width: 300px;
  background-color: var(--con-color);
  min-height: 80vh;
  border-radius: var(--bor-rad);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

/* -- Information Left Side-- */
.content .left-side .my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 20px 0 5px;
}
.content .left-side .my-info .my-img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;
}
.content .left-side .my-info .my-name {
  color: var(--f-color);
  font-size: 28px;
  margin-top: 18px;
  font-weight: var(--head-weight);
}
.content .left-side .my-info .my-cv {
  margin-top: 18px;
  background-color: var(--var-color);
  font-size: 16px;
  color: var(--f-color);
  border-radius: var(--bor-rad);
  overflow: hidden;
  transition: 0.8s;
  width: 170px;
  height: 48px;
  padding: 14px 0;
  opacity: 1;
  visibility: visible;
  font-weight: 300;
}
.content .left-side .nav-menu {
  position: relative;
  width: 300px;
  height: 160px;
}
/* -- li In Nav */
.content .left-side .nav .nav-item {
  width: calc(100% / 3);
  height: 80px;
  position: absolute;
  text-align: center;
}
.content .left-side .nav .nav-item:nth-child(1) {
  top: 0;
  left: 0;
}
.content .left-side .nav .nav-item:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}
.content .left-side .nav .nav-item:nth-child(3) {
  top: 0;
  left: calc(100% * (2 / 3));
}
.content .left-side .nav .nav-item:nth-child(4) {
  top: calc(100% / 2);
  left: 0;
}
.content .left-side .nav .nav-item:nth-child(5) {
  top: calc(100% / 2);
  left: calc(100% / 3);
}
.content .left-side .nav .nav-item:nth-child(6) {
  top: calc(100% / 2);
  left: calc(100% * (2 / 3));
}

.content .left-side .nav .nav-link {
  display: inline-block;
  padding: 1px;
  text-align: center;
}
.content .left-side .nav .nav-link i {
  color: var(--var-color);
  display: block;
  font-size: 22px;
  transition: 0.2s ease;
}
.content .left-side .nav .nav-link .item-name {
  display: block;
  color: var(--f-color);
  font-size: 11px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  transform: translateY(-8px);
}

.content .left-side .nav .nav-link.active-link i,
.content .left-side .nav .nav-link:hover i {
  transform: translateY(-2px);
}
.content .left-side .nav .nav-link.active-link .item-name,
.content .left-side .nav .nav-link:hover .item-name {
  transform: translateY(2px);
  opacity: 1;
  visibility: visible;
}
@media (min-width: 992px) {
  .content .left-side.play-left {
    width: 80px;
  }
  .content .left-side.play-left .my-img {
    width: 60px;
    height: 60px;
  }

  .content .left-side.play-left .my-name {
    font-size: 12px;
    font-weight: 300;
    margin-top: 7px;
  }
  .content .left-side.play-left .my-cv {
    width: 0;
    padding: 0;
    height: 0;
    font-size: 10px;
  }
  .content .left-side.play-left .nav-menu {
    position: relative;
    width: 80px;
    height: 420px;
  }
  .content .left-side.play-left .nav .nav-item {
    left: 0;
    width: 80px;
    height: 70px;
  }

  .content .left-side.play-left .nav .nav-item:nth-child(1) {
    top: 0;
  }
  .content .left-side.play-left .nav .nav-item:nth-child(2) {
    top: 70px;
  }
  .content .left-side.play-left .nav .nav-item:nth-child(3) {
    top: 140px;
  }
  .content .left-side.play-left .nav .nav-item:nth-child(4) {
    top: 210px;
  }
  .content .left-side.play-left .nav .nav-item:nth-child(5) {
    top: 280px;
  }
  .content .left-side.play-left .nav .nav-item:nth-child(6) {
    top: 350px;
  }

  .content .left-side.play-left .nav .nav-link i {
    font-size: 20px;
  }
}
/* -- Left Side Mobile -- */
@media (max-width: 991.99px) {
  .content .left-side {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 80px);
    z-index: 10;
    transform: translateX(100vw);
    justify-content: space-around;
    transition: 0.3s ease;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 2px solid var(--var-color);
  }
  .content .container.more-list .left-side {
    transform: translateX(0);
    left: 0;
  }
  .content .left-side .nav .nav-link.active-link i,
  .content .left-side .nav .nav-link:hover i {
    transform: translateY(-4px);
  }
  .content .left-side .nav .nav-link .item-name {
    transform: translateY(2px);
    opacity: 1;
    visibility: visible;
  }
  .content .left-side .nav .nav-link.active-link .item-name,
  .content .left-side .nav .nav-link:hover .item-name {
    font-weight: 600;
  }
}
/* Small For menu */
@media (max-width: 576px) {
  .content .container .nav {
    width: 100%;
  }
  .content .container .nav-menu {
    width: 100%;
  }
}
@media (max-width: 330px) {
  .content .left-side .my-info {
    margin: 10px 0 10px;
  }
  .content .left-side .my-info .my-img {
    width: 160px;
    height: 160px;
  }
  .content .left-side .my-info .my-name {
    font-size: 25px;
    margin-top: 10px;
  }
  .content .left-side .my-info .my-cv {
    margin-top: 8px;
  }
  .content .container .nav {
    height: 140px;
  }
}
/* -- Main -- */
.content .main {
  background-color: var(--con-color);
  /* Review */
  height: 80vh;
  position: relative;
  border-radius: var(--bor-rad);
  overflow-y: hidden;
}
.main .main-content {
  height: 100%;
  position: relative;
  transition: 0.3s ease;
}
.content .main .section {
  transition: 0.3s ease;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
}
.show-sec {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.01);
  height: 0px;
  overflow: hidden;
}
/* .section.about.show-sec {
  
  transform: scale(1);
} */
/* .anim-sec {
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
  
}
@keyframes slidein {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
} */
.section::-webkit-scrollbar {
  width: 3px;
}

.section::-webkit-scrollbar-track {
  border-radius: 0;
  background: #535455;
  border-radius: 5px;
}

.section::-webkit-scrollbar-thumb {
  background: #dba423;
  border-radius: 5px;
  outline: 1px solid #dba423;
}
@media (max-width: 991.99px) {
  .section::-webkit-scrollbar {
    width: 5px;
  }
  .section::-webkit-scrollbar-track {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .section::-webkit-scrollbar-thumb {
    border-radius: 5px;
    outline: none;
  }
}

@media (min-width: 992px) {
  .content .left-side,
  .content .left-side .my-info,
  .content .left-side .my-img,
  .content .left-side .my-name,
  .content .left-side .nav .nav-item,
  .content .left-side .nav-menu,
  .content .main {
    transition: 0.6s ease;
  }
  .content .main {
    width: calc(100% - 405px);
    padding: 15px;
  }
  .content .left-side.play-left + .main {
    width: calc(100% - 185px);
  }
}
@media (min-width: 1200px) {
  .content .left-side + .main {
    width: calc(100% - 415px);
  }
  .content .left-side.play-left + .main {
    width: calc(100% - 195px);
  }
}

/* -- Main Mobile -- */
@media (max-width: 991.99px) {
  .content .container .main {
    /* border: 1px solid var(--var-color); */
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

/* -- Right Side -- */
.content .right-side {
  width: 80px;
  background-color: var(--con-color);
  min-height: 80vh;
  position: relative;
  border-radius: var(--bor-rad);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content .right-side .date {
  text-align: center;
  margin: 20px 0 30px;
}
.content .right-side .date .date-number {
  color: var(--var-color);
  font-size: 27px;
  font-weight: 600;
}
.content .right-side .date .date-info {
  font-size: 16px;
  color: var(--f-color);
}
.content .right-side .follow {
  text-align: center;
  margin: 15px 0;
  color: var(--c-color);
}
.content .right-side .follow .follow-me {
  font-size: 14px;
  transform: rotate(90deg);
  letter-spacing: 1px;
}
.content .right-side .follow .follow-line {
  display: block;
  width: 2px;
  height: 70px;
  margin: 45px auto 10px;
  background-color: var(--var-color);
}
.content .right-side .follow .follow-social {
  display: flex;
  flex-direction: column;
}
.content .right-side .follow .follow-social .follow-link {
  color: var(--c-color);
  display: inline-block;
  padding: 2px;
  margin: 5px 0;
  font-size: 17px;
}

@media (max-width: 991.99px) {
  .content .container .right-side {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    min-height: 80px;
    width: 100%;
    transform: translateX(100vw);
    transition: 0.3s ease;
    flex-direction: row;
    justify-content: space-evenly;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 2px solid var(--var-color);
  }
  .content .container.more-list .right-side {
    transform: translateX(0);
  }
  .content .right-side .date {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .content .right-side .date .date-number {
    margin: 0 15px;
  }
  .content .right-side .follow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .content .right-side .follow .follow-line {
    display: block;
    width: 70px;
    height: 2px;
    margin: 0 15px;
    background-color: var(--var-color);
  }
  .content .right-side .follow .follow-social {
    flex-direction: row;
  }
  .content .right-side .follow .follow-social .follow-link {
    margin: 0 5px;
  }
  .content .right-side .follow .follow-me {
    transform: rotate(0);
  }
}

/* Small For Right Side */
@media (max-width: 567px) {
  .content .right-side .date .date-number {
    font-size: 20px;
    margin: 0 10px;
  }
  .content .right-side .date .date-info {
    font-size: 12px;
  }
  .content .right-side .follow .follow-me {
    font-size: 14px;
  }
  .content .right-side .follow .follow-line {
    width: 40px;
    margin: 0 10px;
  }
  .content .right-side .follow .follow-social .follow-link {
    font-size: 15px;
    margin: 0 4px;
  }
}
@media (max-width: 330px) {
  .content .right-side .date .date-number {
    font-size: 18px;
    margin: 0 5px 0 2px;
  }
  .content .right-side .date .date-info {
    font-size: 12px;
  }
  .content .right-side .follow .follow-me {
    font-size: 12px;
  }
  .content .right-side .follow .follow-line {
    width: 30px;
    margin: 0 5px;
  }
  .content .right-side .follow .follow-social .follow-link {
    font-size: 14px;
  }
}

/* -- Move -- */
.content .container .move {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  right: 40px;
  transform: translateX(50%);
  z-index: 5;
  margin: 0;
}
.content .container .move .move-but {
  width: 40px;
  height: 40px;
  margin: 5px 0;
  border: 2px solid var(--var-color);
  border-radius: 15px;
  color: var(--var-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
}
@media (max-width: 991.99px) {
  .content .container .move {
    right: 30px;
    bottom: 10px;
  }
  .content .container .move .move-but {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: var(--t-color);
  }
}

/* -- Sections -- */

/* -- Home -- */

/* .main .home {
  background-color: red;
} */
.main .home .home-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  min-height: 100%;
}
.main .home .home-box .home-img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  max-width: 100%;
  margin: 10px 0;
  overflow: hidden;
}
.main .home .home-box .home-job {
  font-size: 17px;
  text-transform: uppercase;
  color: var(--var-color);
  margin: 0 0 15px;
}
.main .home .home-box .home-hello {
  color: var(--f-color);
  font-size: 17px;
  margin: 13px auto;
  font-weight: var(--head-weight);
  max-width: 280px;
}
.main .home .home-box .home-link {
  color: var(--c-color);
  display: inline-block;
  padding: 2px;
  margin: 0 8px;
  font-size: 19px;
}
.main .home .home-box .home-works {
  font-size: 16px;
  color: var(--f-color);
  border-radius: var(--bor-rad);
  transition: 0.3s ease;
  width: 170px;
  height: 48px;
  padding: 14px 0;
  font-weight: 300;
  border: 2px solid var(--var-color);
  max-width: 100%;
  margin-top: 30px;
}
.main .home .home-box .home-works:hover {
  background-color: var(--var-color);
}
.main .home .home-box .home-main-img {
  display: none;
}

@media (min-width: 576px) {
  .main .home .home-box .home-img {
    width: 250px;
    height: 250px;
  }
  .main .home .home-box .home-job {
    font-size: 20px;
    margin: 0 0 20px;
  }
  .main .home .home-box .home-hello {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  .main .home .home-box {
    justify-content: center;
  }
  .main .home .home-box .home-img {
    display: none;
  }
  .main .home .home-box .home-social {
    display: none;
  }

  .main .home .home-box .home-works {
    margin-top: 15px;
  }
  .main .home .home-box .home-main-img {
    display: block;
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .main .home .home-box {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .main .home .home-box .home-text {
    flex-basis: 45%;
  }
  .main .home .home-box .home-main-img {
    width: 380px;
  }
}

/* -- About --  */
.about .about-me {
  display: grid;
}
.about .about-me .about-me-img {
  margin: 50px auto 25px;
  width: 220px;
  max-width: 100%;
  position: relative;
}
.about .about-me .about-me-img img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 40px;
  z-index: 5;
  position: relative;
}
.about .about-me .about-me-img::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 10px;
  width: 100%;
  height: 100%;
  border: 2px solid var(--var-color);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 40px;
  z-index: 3;
}
.about .about-me .about-me-text {
  line-height: 1.7;
}
.about .about-me .about-me-head {
  color: var(--f-color);
  font-size: var(--h2-font-size);
  font-weight: var(--head-weight);
  margin: 15px 0;
}
.about .about-me .about-me-par {
  color: var(--f-color);
  font-size: var(--normal-font-size);
  margin: 15px 0;
}
.about .about-me .about-info {
  margin: 15px 0;
}

.about .about-me .about-info .about-title {
  color: var(--f-color);
  font-size: var(--normal-font-size);
  margin: 10px 3px 5px 0;
  font-weight: normal;
}
.about .about-me .about-info .about-des {
  color: var(--c-color);
  /* font-size: var(--small-font-size); */
  font-size: var(--normal-font-size);
  display: inline-block;
  font-weight: normal;
}
.about .about-me .hire-me {
  display: block;
  margin: 25px 0 20px;
  width: 140px;
  padding: 15px 0;
  text-align: center;
  background-color: var(--var-color);
  color: var(--f-color);
  border-radius: 20px;
  font-size: var(--normal-font-size);
  font-weight: 300;
}
@media (min-width: 576px) {
  .about .about-me .about-me-img {
    width: 50%;
    width: 300px;
  }
  .about .about-me .about-info .flex-info {
    display: flex;
    align-items: center;
  }

  .about .about-me .about-info .about-info-r {
    margin: 0 25px 0 0;
  }
}
@media (min-width: 768px) {
  .about .about-me {
    min-height: 100%;
    display: grid;
    grid-template-areas:
      "i  t"
      "em em";
    gap: 0 30px;
    align-items: center;
  }
  .about .about-me .about-me-img {
    grid-area: i;
  }
  .about .about-me .about-me-text {
    grid-area: t;
  }
  .about .about-me .about-info {
    grid-area: em;
  }
}
@media (min-width: 992px) {
  .about .about-me .about-me-img {
    margin: 15px 0;
    width: 300px;
  }
  .about .about-me .about-me-head {
    padding-right: 10px;
  }
}
@media (min-width: 1100px) {
  .about .about-me {
    display: grid;
    grid-template-areas:
      "i t"
      "i em";
    gap: 0 40px;
  }
  .about .about-me .about-me-img {
    width: 340px;
  }
  .about .about-me .about-info {
    margin: 0;
  }
}
.about .about-icons {
  margin: 30px auto;
  display: grid;
  padding: 15px 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
  position: relative;
}
.about .about-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* background-color: var(--var-color); */
  background: linear-gradient(to right, #343539, #dba423, #343539);
}
.about .about-icons::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* background-color: var(--var-color); */
  background: linear-gradient(to right, #343539, #dba423, #343539);
}
.about .about-icons .about-icon-box {
  text-align: center;
  padding: 5px;
}
.about .about-icons .about-icon-box i {
  font-size: var(--h2-font-size);
  color: var(--var-color);
}
.about .about-icons .about-icon-box .icon-num {
  font-size: var(--normal-font-size);
  color: var(--f-color);
  margin: 6px 0 2px;
}
.about .about-icons .about-icon-box .icon-box-name {
  font-size: var(--small-font-size);
  color: var(--c-color);
}
@media (min-width: 576px) {
  .about .about-icons {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .about .about-icons {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    padding: 25px 0;
  }
}

.about .about-skills {
  margin: 30px auto;
  line-height: 1.7;
  color: var(--f-color);
}

.about .about-skills .skills-text .skills-head {
  font-size: var(--h2-font-size);
  margin: 10px 0;
}
.about .about-skills .skills-text .skills-par {
  font-size: var(--small-font-size);
  margin: 10px 0;
  line-height: 1.9;
  padding-right: 10px;
}

.about .about-skills .about-knowledge {
  margin: 25px 0;
}
.about .about-skills .about-knowledge li {
  margin: 25px 20px;
  font-size: var(--normal-font-size);
  position: relative;
}
.about .about-skills .about-knowledge li::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: var(--var-color);
  border-radius: 50%;
  border: 1px solid var(--con-color);
  outline: 1px solid var(--var-color);
}

.skills-design .skill-name {
  font-size: var(--small-font-size);
  margin: 8px 0 0;
  color: var(--f-color);
  font-weight: normal;
  text-transform: capitalize;
  text-transform: uppercase;
}
.skills-design .skill-show {
  width: 100%;
  padding: 2px;
  margin: 5px 0 30px;
  border: 2px solid var(--var-color);
  border-radius: 10px;
  position: relative;
}
.skills-design .skill-show .span-show {
  display: block;
  /* position: absolute; */
  width: 0%;
  height: 4px;
  border-radius: 10px;
  background-color: var(--var-color);
  transition: 2s linear;
}
.skills-design .skill-show .skill-per {
  position: absolute;
  right: 0;
  top: -30px;
  font-size: var(--small-font-size);
  color: var(--f-color);
}

/* background: linear-gradient(to right, #343539, #dba423, #343539); */

.about .lang-box {
  margin: 30px 0;
}

.about .lang-box .lang-head{
  margin: 15px 0 8px;
  font-size: var(--normal-font-size);
  color: var(--f-color);
  font-weight: 400;
}
.about .lang-box .lang-head span{
  font-size: var(--small-font-size);
  color: var(--c-color);
}


.about .lang-box .lang-list {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.about .lang-box .lang-list .lang-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--var-color);
}
.about .lang-box .lang-list .lang-item.bg{
  background-color: var(--var-color);
}
.about .lang-box .lang-list .lang-item.bo{
  background-color: transparent;
}
.about .lang-box .lang-list .lang-item.ha{
  /* border: 2px solid var(--var-color); */
  background: linear-gradient(to right, #dba423 50%, #343539 50% 100%);
}
@media (min-width: 576px) {
  .about .about-skills {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .about .about-skills {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
  }
  /* .about .about-skills div:nth-child(1), */
  .about .about-skills div:nth-child(1) {
    flex-basis: 50%;
  }
  .about .about-skills div:nth-child(2),
  .about .about-skills div:nth-child(3),
  .about .about-skills div:nth-child(4) {
    flex-basis: 45%;
  }
}


.about-hei  {
  height: 600px;
  background-color: blueviolet;
}

.resume {
  font-size: 60px;
  background-color: rgb(45, 202, 255);
}
.works {
  font-size: 60px;
  background-color: rgb(155, 244, 0);
}
.blog {
  font-size: 60px;
  background-color: darkolivegreen;
}
.contact {
  font-size: 60px;
  background-color: rgb(255, 0, 0);
}
